<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933191706835-b6khhv8qpti50r39grfhcsose2vmfi7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933191706835-b6khhv8qpti50r39grfhcsose2vmfi7e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>933191706835-e3ebaf90fg80ahr2jb84r7n36vilvgvu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYc9sv0KmWK4uuq3WqT5KJH2YUFbcYDeo</string>
	<key>GCM_SENDER_ID</key>
	<string>933191706835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.greyandivy.playhouse</string>
	<key>PROJECT_ID</key>
	<string>playhouse-90dca</string>
	<key>STORAGE_BUCKET</key>
	<string>playhouse-90dca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933191706835:ios:a1a0a0102465c0b9790c26</string>
</dict>
</plist>